body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: center/cover no-repeat
		url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?cs=srgb&dl=pexels-pixabay-316093.jpg&fm=jpg");
}

.container {
	background: rgba(2, 0, 0, 0.74);
	color: white;
	padding: 2em 4em;
	border-radius: 0.8em;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
	text-align: center;
}

.container h3 {
	font-size: 25px;
	margin-top: 0.4em;
}

#counter {
	font-size: 50px;
	margin-top: 0.3em;
}

#addbtn,
#subtractbtn,
#resetbtn {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	border: solid white 1px;
	display: inline-block;
	margin-bottom: 10px;
}

#resetbtn {
	display: block;
}

#addbtn {
	border-end-start-radius: 1em;
}

#subtractbtn {
	border-start-end-radius: 1em;
}

#addbtn:hover {
	background: white;
	color: black;
}

#subtractbtn:hover {
	background: white;
	color: black;
}
