body {
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	background: black;
}

.container {
	display: flex;
	height: 60px;
	padding: 0 10%;
	justify-content: space-between;
	align-items: center;
}

.container img {
	height: 100%;
}

.hamburger {
	height: 30px;
	background-color: black;
	width: 30px;
	padding: 5px 5px;
	border: solid white 1px;
	border-radius: 0.3em;

	text-align: center;
}

.hamburger:hover {
	box-shadow: 0px 0px 5px white;
}

.ham__rod {
	background: white;
	height: 10%;
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 20%;
}

nav {
	width: 100%;
	background: #241224;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	visibility: hidden;
	height: 0;
	transition: height 2s;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 20px 0;
}

ul li {
	margin: 0 auto;
	width: 90%;
	list-style-type: none;
	border-bottom: 1px solid white;
}

ul li:last-child {
	border-bottom: none;
}

ul li:hover {
	color: #241224;
	background-color: #1a0f1a;
}

ul li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	display: inline-block;
	padding: 20px 0px;
	font-weight: bold;
}

section div {
	background: center/cover no-repeat
		url("https://images.pexels.com/photos/131723/pexels-photo-131723.jpeg?cs=srgb&dl=pexels-andr%C3%A9-cook-131723.jpg&fm=jpg");

	height: 800px;
}
